@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=DM+Sans:opsz,wght@9..40,500&family=Inter&family=Poppins:wght@500&family=Quicksand:wght@400;500;700&family=Roboto&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.coverAtas{
    background-color: rgb(16, 87, 10);
    padding: 1.5rem;
}

.judul{
    width: 100%;
    text-align: center;
    padding: 5rem;
    color: rgb(255, 255, 255);
    background-image: url('Images/Foto\ Desa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.judul h1{
    font-family: 'Caveat Brush';
    font-size:5rem;
}

nav{
    background-color: rgb(16, 87, 10);
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav ul li{
    padding: 1rem 2rem;
    list-style: none;

}


nav ul a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    padding: 0.5rem;
}

nav ul a:hover{
    background-color: white;
    color: rgb(16, 87, 10);
}

main{
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.kiri{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kiri article{
    padding: 3rem;
    width: 35rem;
    text-align: center;
    border: 1px solid black;
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 3px;
}

.layanan ul{
    list-style-type: circle;
    text-align: left;
}

aside{
    width: 20%;
    text-align: justify;
    padding: 1.5rem;
    margin: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 1px 1px 3px;
}

aside img{
    max-width: 100%;
    height: auto;
}

footer{
    height: 100%;
    padding: 2rem;
    color: white;
    background-color: rgb(16, 87, 10);

}

@media only screen and (max-width: 720px){

    .coverAtas{
        width: 100%;
    }

    header{
        width: 100%;
    }

    .judul{
        width: 100%;
        text-align: center;
        padding: 2rem;
    }

    nav{
        width:100%;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    main{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .kiri{
        width: 100%;
    }

    .kiri article{
        width: 90%;
        
    }

    aside{
        width: 90%;
    }
}